body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-somar{
  background-color: rgb(4, 235, 4);
  border: none;
  border-radius: 8px;
  padding: 10px;
}
.btn-somar:hover{
  background-color: rgb(1, 202, 1);
}
.btn-subtrair{
  background-color: red;
  border: none;
  border-radius: 8px;
  padding: 10px;
}
.btn-subtrair:hover{
  background-color: rgb(224, 5, 5);
}